<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>success</title>
</head>
<body :controller="vm" class="ms-controller">
<!-- GEN_COMPONENT -->
    <img :attr="{src:@gou}" alt="" class="header">
    <strong class="title">
        投保成功
    </strong>
    <p class="content">
        恭喜您，您已投保成功，电子邮件将发送至您的电子邮箱，请注意查收
    </p>
    <button class="btn footer" type="button">
        立即分享
    </button>
    <!-- GEN_FOOTER -->
</body>

</html>

