<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Notes</title>
</head>
<body :controller="vm" class="ms-controller">
<!-- GEN_COMPONENT -->
    <h3 class="title"><strong>保险须知</strong></h3>
    <div class="content">
        <p>1、每位被保险人同一保险期间的累计意外意外风险保额最高为200万元，多投无效；</p>
        <p>2、小于10周岁的未成年的累计身故保险金额最高不超过中国保险监督管理机构规定的人民币20万元限额；</p>
        <p>3、大于10周岁的未成年人的累计身故保险金额最高不超过中国保险监督管理机构规定的人民币50万元限额；</p>
        <p>4、保险起期默认为投保人成功当天24:00:00时；</p>
        <p style="border-bottom: 0">5、被投险人年龄需在60天到60周岁。</p>
    </div>
    <!-- GEN_FOOTER -->
</body>

</html>

